extends layout

block content
  h1(style="color: #ff6347; font-size: 48px; text-align: center; margin-top: 50px;") No Quiz Contests Available
  p(style="font-size: 24px; color: #555; text-align: center;") 
    | Sorry, there are no quiz contests available right now. 
    br
    | Please check back later!
