extends layout

block content
  style.
    .text-golden {
      color: #FFD700; /* Gold color */
    }

  .row.banner
    .col-12
      h1 Free Courses With Certificate
      small &nbsp;Start learning, keep developing!

  .row
    .col-12.col-md-8
      .card.mb-4
        .card-block
          h4
            a(href="/Courses") C Programming
            small &nbsp;
            i.fas.fa-star.text-golden
            i.fas.fa-star.text-golden
            i.fas.fa-star.text-golden
            i.fas.fa-star.text-golden
            i.fas.fa-star.text-golden
            span.badge.badge-pill.badge-default.float-right 10 Hours
          p.facilities
            span.badge.badge-warning C Basics
            span.badge.badge-warning Functions
            span.badge.badge-warning Files
            span.badge.badge-warning Pointers
            span.badge.badge-warning Structures
            span.badge.badge-warning Data Structures

      .card.mb-4
        .card-block
          h4
            a(href="/Courses") Python
            small &nbsp;
            i.fas.fa-star.text-golden
            i.fas.fa-star.text-golden
            i.fas.fa-star.text-golden
            i.fas.fa-star.text-golden
            i.fas.fa-star.text-golden
            span.badge.badge-pill.badge-default.float-right 8 Hours
          p.facilities
            span.badge.badge-warning Python Basics
            span.badge.badge-warning Data Types
            span.badge.badge-warning Control Structures
            span.badge.badge-warning Functions
            span.badge.badge-warning Modules
            span.badge.badge-warning File Handling

      

      .card.mb-4
        .card-block
          h4
            a(href="/Courses") DBMS
            small &nbsp;
            i.fas.fa-star.text-golden
            i.fas.fa-star.text-golden
            i.fas.fa-star.text-golden
            i.fas.fa-star.text-golden
            i.fas.fa-star.text-golden
            span.badge.badge-pill.badge-default.float-right 12 Hours
          p.facilities
            span.badge.badge-warning DB Basics
            span.badge.badge-warning SQL Queries
            span.badge.badge-warning Transactions
            span.badge.badge-warning Normalization
            span.badge.badge-warning Indexing

     
      .card.mb-4
        .card-block
          h4
            a(href="/Courses") Data Structures
            small &nbsp;
            i.fas.fa-star.text-golden
            i.fas.fa-star.text-golden
            i.fas.fa-star.text-golden
            i.fas.fa-star.text-golden
            i.far.fa-star.text-golden
            span.badge.badge-pill.badge-default.float-right 8 Hours
          p.facilities
            span.badge.badge-warning Arrays
            span.badge.badge-warning Linked Lists
            span.badge.badge-warning Stacks
            span.badge.badge-warning Queues
            span.badge.badge-warning Trees

      

      .card.mb-4
        .card-block
          h4
            a(href="/Courses") Artificial Intelligence (AI)
            small &nbsp;
            i.fas.fa-star.text-golden
            i.fas.fa-star.text-golden
            i.fas.fa-star.text-golden
            i.fas.fa-star.text-golden
            i.far.fa-star.text-golden
            span.badge.badge-pill.badge-default.float-right 12 Hours
          p.facilities
            span.badge.badge-warning AI Basics
            span.badge.badge-warning Machine Learning
            span.badge.badge-warning Neural Networks
            span.badge.badge-warning Natural Language Processing
            span.badge.badge-warning Computer Vision

      .card.mb-4
        .card-block
          h4
            a(href="/Courses") Machine Learning (ML)
            small &nbsp;
            i.fas.fa-star.text-golden
            i.fas.fa-star.text-golden
            i.fas.fa-star.text-golden
            i.far.fa-star.text-golden
            i.far.fa-star.text-golden
            span.badge.badge-pill.badge-default.float-right 14 Hours
          p.facilities
            span.badge.badge-warning ML Basics
            span.badge.badge-warning Supervised Learning
            span.badge.badge-warning Unsupervised Learning
            span.badge.badge-warning Model Evaluation
            span.badge.badge-warning Feature Engineering

    .col-12.col-md-4
      p.lead Looking for free online learning? Kurukshetra Warriors helps you to explore free courses. Perhaps you can also develop projects on your own after learning from us.
