extends layout

block content
  style.
    .fas.fa-star, .far.fa-star {
      color: #FFD700; /* Gold color */
    }

  .row.banner
    .col-12
      h1  C Programming

  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star

          .card.card-primary
            .card-block
              h2.card-title Live Teaching Timings
              p.card-text Monday - Friday : 8:00pm - 10:00pm
              p.card-text Saturday : 6:00pm - 11:00pm
              p.card-text Sunday : 3:00pm - 6:00pm

          .card.card-primary
            .card-block
              h2.card-title Contents
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;C Basics
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Functions
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Files
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Pointers 
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Structures
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;Data Structures

    .row
      .col-12
        .card.card-primary.review-card
          .card-block
            a.btn.btn-primary.float-right(href='/Courses/review/new') ➥ Add review
            h2.card-title Student reviews