extends layout

block content
  .row.banner
    .col-12
      h1 Free Courses With Certificate
      small &nbsp;Start learning, keep developing!

  // Listing 4.6 Complete template for app_server/views/locations-list.pug
  // Name of the listing and a link to the location
  // Uses Font Awesome icons to output a star rating
  // Uses Bootstrap’s badge helper class to display the distance away
  // Address of the location
  // Facilities of the location, output using Bootstrap’s badge classes
  // Figure 4.9 Onscreen rendering of a single location on the List page

  // Starts header area
  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location") C Programming
            small &nbsp;
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            span.badge.badge-pill.badge-default.float-right 10 Hours
          p.facilities
            span.badge.badge-warning C Basics 
            span.badge.badge-warning Functions
            span.badge.badge-warning Files
            span.badge.badge-warning Pointers
            span.badge.badge-warning Structures
            span.badge.badge-warning Datastructures


    .col-12.col-md-4
      p.lead Looking for free online learning? Kurukshetra Learners helps you to explore free courses. Perhaps you can also develop projects by your own after learning from us.
